.option {
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: $l-size $m-size;
}

.option__text {
  color: #666;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  word-break: break-all;
}
